.carousel-m-main {
  width: 100%;
  background-color: powderblue;
  margin-top: 5%;
  padding: 2%;
}




.carousel-m-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-m-top-right {
  width: 50%;
  padding: 2%;
}

.carousel-m-top-right h4 {
  font-weight: 700;
  font-size: 4vw;
  letter-spacing: 10%;
  font-family: sans-serif;
}

.carousel-m-top-right h5 {
  font-weight: 200;
  font-size: 3.5vw;
}

.carousel-m-top-left {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  
  padding: 2% 2% 3% 2%;
}

.carousel-m-top-left button {
  font-size: 2.5vw;
  
  border: none;
  border-radius: 5px;
  background: palevioletred;
  font-weight: 500;
  color: white;
  padding: 1.5% 2%;
}






.carousel-m-mid {
  width: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  
  justify-content: space-evenly;
  align-items: center;
  
}






.carousel-m-card {
  width: 100%;
  padding: 1.5%;
  max-width: 300px;
  cursor: pointer;
  margin-bottom: 3.5%;
  
}

.carousel-m-card:hover {
  background-color: white;
  border-radius: 7px;
}

.carousel-m-card img {
  width: 100%;
  height: 30vh;
  border-radius: 7px;
}

.carousel-m-card h5 {
  margin-top: 3%;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2vw;
  text-align: center;
}






.carousel-m-bottom {
  width: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  
  justify-content: space-evenly;
  align-items: center;
  
}

@media (max-width:990px){

  .carousel-m-card h5 {
    
    font-size: 4vw;
  
  }

}


