#carouselExampleIndicators{
  margin-top: 4%;
  height: 55vh;
}

.carousel-item img{
  height: 55vh;
}


@media (max-width:900px){

  #carouselExampleIndicators{
    margin-top: 6%;
    height: 40vh;
  }

  .carousel-item img{
    height: 40vh;
  }
}


