
.load-more-btn{
  background-color:palevioletred;
  padding: 0.5% 2%;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 2%;
}

.load-less-btn{
  background-color:powderblue;
  padding: 0.5% 2%;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 2%;
}


@media(max-width:900px){
  
  .load-more-btn{
    display: none;
  }

  .load-less-btn{
    display: none;
  }
}